<nav class="bg-white border-gray-200 shadow-md">
  <div class="md:flex md:items-center px-8 lg:px-15 py-4">
    <a class="flex md:items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/freshcart-logo.svg" class="h-8" alt="Flowbite Logo" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hidden md:flex md:w-full justify-end md:gap-2"
      id="navbar-default"
    >
      @if (isLoggedIn()) {
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 md:border-0 rounded-lg bg-gray-50 md:flex-row md:bg-white md:self-start"
      >
        <li>
          <a
            class="block py-2 px-3 rounded-sm"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="bg-green-500"
            >Home</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-3 rounded-sm"
            aria-current="page"
            routerLink="/categories"
            routerLinkActive="bg-green-500"
            >Categories</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-3 rounded-sm"
            aria-current="page"
            routerLink="/products"
            routerLinkActive="bg-green-500"
            >Products</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-3 rounded-sm"
            aria-current="page"
            routerLink="/brands"
            routerLinkActive="bg-green-500"
            >Brands</a
          >
        </li>
        <li>
          <form class="">
            <label
              for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only"
              >Search</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                  />
                </svg>
              </div>
              <input
                type="search"
                id="default-search"
                name="search"
                #search_input
                [(ngModel)]="searchText"
                (input)="onSearchInputChange()"
                class="block lg:w-xl w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-green-500 focus:border-green-500"
                placeholder="Search Products ..."
                required
              />
              <button
                type="submit"
                class="text-white absolute end-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2"
                (click)="onSeachButton(search_input.value)"
              >
                <i class="fas fa-search"></i>
              </button>
              @if(searchText!==''){
              <div class="search-results absolute top-15 start-0">
                @for(product of searchedProductsArr().slice(0,4);track
                product._id){
                <div
                  class="product-search-card w-100 flex bg-white cursor-pointer border-b-green-400 border-b-2 p-2 gap-2"
                  (click)="goToDetails(product._id)"
                >
                  <img
                    [src]="product.imageCover"
                    alt="{{ product.title }}"
                    class="w-[40px]"
                  />
                  <p class="text-lg">
                    {{ product.title }}
                  </p>
                </div>
                }
                <div class="bg-white w-full h-10">
                  <p
                    class="text-green-700 cursor-pointer text-center"
                    routerLink="/products"
                    (click)="searchText = ''"
                  >
                    SEE MORE
                  </p>
                </div>
              </div>
              }
            </div>
          </form>
        </li>
        <li class="md:my-0 my-2 flex">
          <a
            class="py-2 px-3 rounded-sm relative md:mx-3"
            aria-current="page"
            routerLink="/cart"
            routerLinkActive="bg-green-500"
            ><i class="fas fa-shopping-cart"></i>
            <span
              class="absolute top-0 end-0 inline-flex items-center rounded-md bg-green-50 px-1 text-xs text-green-700 ring-1 ring-green-600/20 ring-inset"
              >{{ cartCount() }}</span
            >
          </a>
          @if (isLoggedIn()) {

          <!-- Profileee -->
          <img
            id="avatarButton"
            type="button"
            data-dropdown-toggle="userDropdown"
            data-dropdown-placement="bottom-start"
            class="w-10 h-10 rounded-full cursor-pointer"
            src="/images/user.png"
            alt="User dropdown"
          />

          <!-- Dropdown menu -->
          <div
            id="userDropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44"
          >
            <div class="px-4 py-3 text-sm text-gray-900">
              <div>{{ tokenDecoded.name }}</div>
              <div class="font-medium truncate">
                {{ tokenDecoded.email }}
              </div>
            </div>
            <ul
              class="py-2 text-sm text-gray-700"
              aria-labelledby="avatarButton"
            >
              <li>
                <a
                  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  routerLink="/allorders"
                  >My Orders</a
                >
              </li>
              <li>
                <a
                  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  routerLink="/wishlist"
                  >My Wishlist</a
                >
              </li>
              <li>
                <a
                  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  routerLink="/cart"
                  >My cart</a
                >
              </li>
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  >Settings</a
                >
              </li>
            </ul>
            <div class="py-1">
              <a
                class="block px-4 py-2 text-sm text-red-700 hover:bg-gray-100 cursor-pointer"
                routerLink="/login"
                (click)="signOut()"
                >Sign out</a
              >
            </div>
          </div>
          }
        </li>
      </ul>
      }
      <div class="flex">
        <ul class="auth list-unstyled flex items-center gap-3">
          @if (isLoggedIn()==false) {
          <li>
            <a routerLink="/login">Log In</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
