<h2>Categories</h2>
<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  @for (prod of productsArr; track prod._id) {
  <ng-template carouselSlide [id]="prod._id"> </ng-template>
  }
</owl-carousel-o>
<div>Some tags after</div> -->

<hr />

<h2 class="text-5xl text-center">Popular Products</h2>

<div class="container px-20 py-10">
  <div class="row grid grid-cols-2 md:grid-cols-4 gap-5">
    @for (product of productsArr; track product._id) {

    <div
      class="card border-2 border-gray-400 rounded-2xl hover:scale-105 transition-all shadow-gray-300 relative p-3 cursor-pointer"
    >
      <a target="_self" class="" [routerLink]="['/details', product._id]">
        <div>
          <img
            [src]="product.imageCover"
            alt="{{ product.description }}"
            class="w-full rounded-2xl"
          />
          <p class="text-2xl line-clamp-2">{{ product.title }}</p>
        </div>
        <p>{{ product.description.split(" ", 5).join(" ") }}...</p>
        <p class="text-xl text-emerald-700 text-center">
          {{ product.price }} EGP
        </p>
      </a>

      <img
        [src]="product.brand.image"
        alt="{{ product.brand.name }}"
        class="w-[50px] mx-auto absolute top-5 right-5 rounded-2xl opacity-80"
      />
      <app-add-to-cart-button
        [productId]="product._id"
        width="w-full"
      ></app-add-to-cart-button>
    </div>
    }
  </div>
</div>
